* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Joan", serif;
}

.header {
  background: linear-gradient(110deg, #333333 60%,  rgba(0, 212, 255) 100% 60%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  
}

.imagem-perfil {
  width: 200px;
  border-radius: 10px;
  border: solid 2px;
  order: 2;
}

.nome {
  min-height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  color: #f3eba5;
  letter-spacing: 5px;
  font-size: 15px;
}

.nav-links {
  border-bottom: solid 2px #f3eba5;
  width: 100%;
  position: fixed;
  text-align: center;
  background-color: #474745;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.nav-links div {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.nav-links h1 {
  color: #f3eba5;
  padding-left: 150px;
  letter-spacing: 6px;
  font-size: 30px;
}

.nav-links li {
  background-color: #94c691;
  padding: 8px;
  border-radius: 5px;
  border: solid 1px #333333;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #474745;
  font-family: "Joan", serif;
}

main {
  margin-left: 5px;
}

.nav-links-redessociais {
  background-color: #f6c08b;
  position: fixed;
  top: 7%;
  left: 95%;
  border-radius: 15px;
  border: solid 2px #f3eba5;
}

.nav-links-redessociais a:hover {
  padding-left: 10px;
  background-color: #94c691;
  padding-top: 38px;
}

.icone_linkedin {
  width: 50px;
  margin-left: 8px;
  margin-top: 18px;
}
.icone_insta {
  width: 40px;
  margin-left: 14px;
  margin-top: 5px;
  padding-right: 5px;
}
.icone_git {
  width: 65px;
  margin-left: 3px;
}

.footer {
  padding: 10px 5px 4px 0px;
  background-image: linear-gradient(
    to right,
    #ed8e89,
    #f7b685,
    #f3eba5,
    #94c691,
    #9bd6d9,
    #b4a8e0
  );
  border-radius: 15px;
  color: rgb(75, 56, 56);
  font-size: 18px;
  line-height: 30px;
  border: solid 2px #474745;
}
.footer_posicionamento {
  margin-left: 30px;
  margin-bottom: px;
}

.footer_posicionamento img {
  width: 200px;
  float: right;
  border-radius: 15px;
}

.underline{
  text-decoration: underline;
}
.section-sobremim {
  font-size: 18px;
  width: 50%;
  line-height: 30px;
  padding: 20px;
  background-color: #b4a8e0;
  margin-top: 20px;
  border-radius: 15px;
  border: solid 2px #474745;
}
.texto_centralizado {
  text-align: center;
}
.ola{
    font-size: 1.5em;
}
.section-sobremim img{
    position: absolute;
    left: 105px;
    top: 79%;
}
.projetos{
    background-color: #94c691;
    border-radius: 15px;
    border: solid 2px #474745;
    font-size: 18px;
}
