body{
    background-color: #F3EBA5;
    font-family:'Joan', serif;
    color: rgb(75, 56, 56);
}

.imagem-perfil{
    width: 200px;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: 20px;
    border: solid 2px #F3EBA5;
}

.header{
    background-image: linear-gradient(to right,#ED8E89,#F7B685,#F3EBA5,#94C691,#9BD6D9,#B4A8E0);
    position: relative;
    border-radius: 20px;    
}

.nome{
    position: absolute;
    top: 50px;
    left: 30%;
    border-radius: 20px;
    color:rgb(75, 56, 56);
    letter-spacing: 5px;
    font-size: 15px;
}

.nav-links{
    padding: 0;
    text-align: center;
    background-color: rgba(133, 160, 160, 0.596);
    border-radius: 20px;
}

.nav-links li{
    display: inline-block;
    margin-right: 50px;
    background-image: linear-gradient(to top,#ED8E89,#F7B685,#F3EBA5,#94C691,#9BD6D9,#B4A8E0);
    padding: 8px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px; 
    border: solid 1px #F3EBA5;
}

.nav-links li:nth-last-child(1){
    margin-right: 0;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color:rgb(53, 41, 41)

}

.section-sobremim{
    font-size: 18px;
    margin-left: 30px;
}

.nav-links-redessociais{
    background-color: #94C691;
    padding: 20px;
    position: fixed;
    top:53%;
    left: 80%;
    border-radius: 15px;
}

.nav-links-redessociais a{
    color:rgb(53, 41, 41);
    line-height: 40px;
}

.icone-linkedin{
    width: 30px;
}
